annotated-types==0.7.0
black==24.4.2
cfgv==3.5.0
click==8.3.1
coverage==7.13.5
distlib==0.4.0
filelock==3.25.2
identify==2.6.18
iniconfig==2.3.0
mypy==1.10.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pluggy==1.6.0
pre-commit==3.7.1
pydantic==2.7.1
pydantic-settings==2.3.0
pydantic_core==2.18.2
pytest==8.2.0
pytest-cov==5.0.0
python-discovery==1.2.1
python-dotenv==1.2.2
PyYAML==6.0.3
ruff==0.4.4
typing_extensions==4.15.0
virtualenv==21.2.0
